nav.navbar.nabbar-default.navbar-fixed-top(role='navigation')
  .container-fluid
    .navbar-header
      a.navbar-brand(href="/") IVR 影院
    div
      ul.nav.navbar-nav
        li.active
          a(href = '#')热门电影
      p.navbar-text.navbar-right
        if user
          span 欢迎你 #{user.username} | 
          if (10<user.role)
              a.navbar-link(href="/admin") 后台管理 |
          a.navbar-link(href="/logout") 退出
        else
          a.navbar-link(href="#",data-toggle="modal",data-target="#signupModal") 注册
          span |
          a.navbar-link(href="#",data-toggle="modal",data-target="#signinModal") 登录
.container
  .row
    .page-header
      h1= title
      small 重度科幻迷

#signupModal.modal.fade
  .modal-dialog
    .modal-content
      form(method="POST",action="/user/signup")
        .modal-header
          h1 注册
        .modal-body
          .form-group
            label(for="signupName") 用户名
            input#signupName.form-control(type="text",name="user[username]")
          .form-group
            label(for="signupPassword") 密码
            input#signupPassword.form-control(type="text",name="user[password]")
        .modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") 关闭
          button.btn.btn-success(type="submit") 注册
#signinModal.modal.fade
  .modal-dialog
    .modal-content
      form(method="POST",action="/user/signin")
        .modal-header
          h1 注册
        .modal-body
          .form-group
            label(for="signinName") 用户名
            input#signinName.form-control(type="text",name="user[username]")
          .form-group
            label(for="signinPassword") 密码
            input#signinPassword.form-control(type="text",name="user[password]")
        .modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") 关闭
          button.btn.btn-success(type="submit") 登录