extends ../layout

block content
  .contaniner.text-center
    .row
      .col-lg-2
        a(href='/admin/movie')电影管理
    .row
      .col-lg-2
        a(href='/admin/category')类别管理        
    .row
      .col-lg-2
        a(href='/admin/user')用户管理
    .row
      .col-lg-2
        a(href='/admin/comment')评论管理
        
