extends ../layout

block content
  .contaniner.text-center
    .row
      .col-sm-2
        a(href='/admin/movie/list')电影管理
    .row
      .col-sm-2
        a(href='/admin/category/list')类别管理        
    .row
      .col-sm-2
        a(href='/admin/user')用户管理
    .row
      .col-sm-2
        a(href='/admin/comment')评论管理